<div class="landing">

  <div class="background">
    <div class="content text-center">
      <h1> The only tool that helps you </h1>
      <h1> GET SHIT DONE </h1>
    </div>
  </div>
  <div class="background2">
    <div class="content text-center">
      <h1> Features </h1>
    </div>
  </div>
  <div class="background3">
    <div class="content text-center">
      <h1> Organise your life right now </h1>
    </div>
  </div>

</div>
