<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="btn btn-default navbar-btn">Sign up</button>
      </a>
      <button type="button" class="btn btn-default navbar-btn">Login</button>
      </a>
    </div>
  </div>
</nav>
